{% load static %}
<html>
    <title>Guess the Word</title>
    <head>
        <!-- IMPORTANDO GOOGLEFONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
        <!-- IMPORTANDO BOOSTSTRAP -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- IMPORTANDO Nes.css  https://nostalgic-css.github.io/NES.css/ -->
        <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
        <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
        <!-- IMPORTANDO CSS LOCAL -->
        <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>
    <body>
        <div id='root'>
            <div class="app-container">
                {% comment %} HEADER {% endcomment %}
                <div class="mt-4 mb-4 d-flex align-items-center justify-content-around">
                    <div class="d-flex">
                        <!-- Botao how to play -->
                        <button type="button" class='nes-btn' onclick="document.getElementById('dialog-how-to-play').showModal();">
                            <img src="https://img.icons8.com/ios-glyphs/30/000000/question-mark.png"/>
                        </button>
                        
                        <button type="button" class="nes-btn" onclick="document.getElementById('dialog-contact-us').showModal();">
                            <img src="https://img.icons8.com/material-two-tone/30/000000/phone--v1.png"/>
                        </button>
                        
                    </div>
                    <h1 class="text-center mb-0 app-name">
                        <a id="a_title" href="/">GUESS THE WORD</a>
                        
                    </h1>
                    <div class="d-flex justify-content-between">
                        <button type="button" class='nes-btn'  onclick="document.getElementById('dialog-stats').showModal();">
                            <img src="https://img.icons8.com/material-outlined/30/000000/graph.png"/>
                        </button>
                        <button type="button" class='nes-btn'  onclick="document.getElementById('dialog-extra').showModal();">
                            <img src="https://img.icons8.com/windows/30/000000/placeholder-thumbnail-json-1.png"/>
                        </button>
                    </div>

                    
                </div>
                <div class="mt-3 d-flex justify-content-between" id="game-block">
                    <div class='player-profile'>
                        {% block player_profile %}
                    
                        {% endblock player_profile %}
                    </div>
                    
                    <div class='game-content'>
                        {% block content %}
                    
                        {% endblock content %}
                    </div>

                    <div class='player-record'>
                        {% block player_record %}
                    
                        {% endblock player_record %}
                    </div>
                
                
                </div>
            </div>

            
        </div>

    </body>

    <!-- DIALOGS -->
    <!-- Como jogar -->
    <dialog class="nes-dialog is-dark is-rounded" id="dialog-how-to-play" style='display:inline;'>
        <h3 class="title">Como jogar</h3>
        <br>
        <p>Um enunciado será apresentado para você.</p>
        <p>A resposta para esse enunciado será uma única palavra (atenção para hífens).</p>
        <p>Você terá 6 chances para acertar a palavra.</p>
        <p>Cada questão vale 64 pontos no total, cada erro subtrai metade da pontuação atual dessa questão.</p>
        <p>Após cada chute, as letras mudarão de cor para te ajudar a chegar na resposta.</p>
        <p><span style="color: #ffeb3b">WARNING: Não há necessidade do uso de espaço</span></p>
        <p>----------------------------------------------------------------</p>
        <p>A letra na cor <span style="color: green;">VERDE</span> indica que ela existe na palavra e está no local certo.</p>
        <p>A letra na cor <span style="color: yellow;">AMARELO</span> indica que ela existe na palavra e está no local errado.</p>
        <p>A letra na cor <span style="color: red;">VERMELHO</span> indica que ela NÃO existe na palavra.</p>
        <button class="nes-btn is-primary" onclick="document.getElementById('dialog-how-to-play').close();">Confirmar</button>
    </dialog>
    

    <!-- Contato -->
    <dialog class="nes-dialog is-dark is-rounded" id="dialog-contact-us" style='display:inline;'>
        <h3 class="title">Contato</h3>
        <br>
        <p>Entre em contato com os desenvolvedores: </p>
        <p>Álvaro Sato: <a href="mailto:alvarosato00@gmail.com">alvarosato00@gmail.com</a></p>
        <p>Marcelo Eduardo: <a href="mailto:marceloer2011@gmail.com">marceloer2011@gmail.com</a></p>
        <br>
        <p>Responderemos o mais rápido possível!</p>
        <button class="nes-btn is-primary" onclick="document.getElementById('dialog-contact-us').close();">Confirmar</button>
    </dialog>

    <!-- Estatisticas -->
    <dialog class="nes-dialog is-dark is-rounded" id="dialog-stats" style='display:inline;'>
        <h3 class="title">Estatísticas</h3>
        <br>
        {% if round %}
            <p>Olá {{round.player.nickname}}, aqui temos algumas estatísticas sobre seu jogo:</p>
            <p>-------------------------------------------------------------------------------</p>
            <p>Número de questões respondidas: {{round.get_number_of_questions_answered}} de {{round.get_total_number_of_questions}}</p>
            <p>Número de questões acertadas: {{round.get_number_of_questions_answered_correctly}} de {{round.get_number_of_questions_answered}}</p>
            <p>Número total de tentativas corretas: {{round.get_number_of_correct_tries}} de {{round.get_number_of_tries}} </p>
            <p>-------------------------------------------------------------------------------</p>
            <p></p>
        {% endif %}
        <button class="nes-btn is-primary" onclick="document.getElementById('dialog-stats').close();">Confirmar</button>
    </dialog>

    <!-- Extra -->
    <dialog class="nes-dialog is-dark is-rounded" id="dialog-extra" style='display:inline;'>
        <h3 class="title">Sobre</h3>
        <br>
        <p class="about-p">Esse jogo, foi desenvolvido durante a disciplina de FPGA, ministrada pelo professor Maurício Araújo Dias, do curso de Ciência da Computação na UNESP, Campus de Presidente Prudente. </p> 
        <p class="about-p">O objetivo desse trabalho é auxiliar no desenvolvimento e imersão dos alunos que cursarão alguma das disciplinas ministradas pelo professor Maurício.</p>
        <p class="about-p">
            A proposta do jogo é ser uma forma alternativa (ou melhoria) às "perguntas de multipla escolha" já utilizadas no decorrer dessas disciplinas.
            Adicionando um sistema de pontuação, para evitar chutes, e uma base de jogatina semelhante ao famoso jogo 'Wordle' para que os alunos sintam-se instigados a descobrir as respostas.
        </p>
        <p class="about-p">
            Além das melhorias para o lado do jogador, são propostas também algumas facilidades para o lado do ministrante da disciplina, como modularidade (possibilidade de adicionar e remover perguntas) e 
            a verificação de estatísticas (taxa média de tentativas por pergunta, taxa média de pontuação, número de acertos, número de erros e etc).
        </p>
        <p class="about-p">
            Os alunos responsáveis pelo desenvolvimento desse trabalho foram:
        </p>
        <p class="about-p" style="text-color: black;">
            Marcelo Eduardo Rodrigues
        </p>
        <p class="about-p">
            Álvaro Masanori Sato
        </p>
        <button class="nes-btn is-primary" onclick="document.getElementById('dialog-extra').close();">Confirmar</button>
    </dialog>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</html>