{% extends 'base.html' %}

<!-- ESSE BLOCO É REFERENTE AO LADO ESQUERDO DA TELA, ONDE FICA A MENSAGEM DE BOAS VINDAS-->
{% block player_profile %}
    {% if round %}
        <p>Bem vinda(o)!</p>
        <h2>{{round.player}}</h2>
        <p><br>Obrigado por jogar nosso jogo!</p>

        <button type="button" class='nes-btn' id="previous-question-button" onclick="">
            <img style="" src="https://img.icons8.com/ios-filled/25/000000/chevron-left.png"/>
        </button>
    {% else %}
        <h3>Jogador não encontrado</h3>
        <p><br>Por favor <a href="{% url 'register' %}">registre-se</a> e volte mais tarde.</p>
    {% endif %}
{% endblock player_profile %}

<!-- ESSE BLOCO É A PARTE CENTRAL, O JOGO DE FATO -->
{% block content %}
    {% comment %} TODO GAME {% endcomment %}
    {% if round %} <!-- SE O REGISTRO OCORRER COM SUCESSO E O ROUND FOI CRIADO MOSTRA O JOGO -->
        <div id="div-enunciado" class="align-items-center text-center">

        </div>
        <!-- GAME BOARD -->
        <div id="game">

        </div>

        <!-- KEYBOARD -->
        <div id="keyboard" style="display:none;">
            <div id="row-1">
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">q</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">w</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">e</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">r</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">t</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">y</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">u</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">i</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">o</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">p</button>
            </div>
    
            <div id="row-2">
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">a</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">s</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">d</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">f</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">g</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">h</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">j</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">k</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">l</button>
            </div>
    
            <div id="row-3 ">
                <button class="nes-btn keyboard-key" id="enter-key" onclick="put_letter(this)">Enter</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">z</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">x</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">c</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">v</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">b</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">n</button>
                <button class="nes-btn keyboard-key" onclick="put_letter(this)">m</button>
                <button class="nes-btn keyboard-key" id="backspace-key" onclick="put_letter(this)">Backspace</button>
            </div>
        </div>
        {% comment %} https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#json-script {% endcomment %}
        {{ player_answers|json_script:"player-answers" }}
        <!-- Keyboard Script -->
        <script>
            function put_letter(element){
                if(element.id === "enter-key"){
                    guess_check();
                    return;
                }

                if(element.id === "backspace-key"){
                    delete_letter();
                    return;
                }

                if(!element.disabled){
                    insert_letter(element.textContent);
                }
            }
        </script>

        <script>
            // Processando questao
            var question = {} 
            var enunciado = ""
            var resposta = ""
            var dificuldade = ""
            var disciplina = ""
            var question_number = ""
            {% for question in question %} // Aqui é uma lista com apenas uma questão, para facilitar o manuseio da questao via javascript
                enunciado = "{{question.tip}}"
                resposta = "{{question.answer}}"
                dificuldade = "{{question.difficulty}}"
                disciplina = "{{question.subject}}"
                question_number = parseInt("{{question.number}}")
                question = {"tip": enunciado, "answer": resposta, "difficulty": dificuldade, "subject": disciplina, "question_number": question_number}
            {% endfor %}
            resposta = resposta.normalize("NFD").replace(/[\u0300-\u036f]/g, "") // removendo acentos
            index_of_space = resposta.indexOf(' ')
            // console.log(index_of_space)
            // console.log(question);
            let dict_answer_return = dict_answer(question.answer)
            var letter_bool = dict_answer_return[0];
            var letter_count = dict_answer_return[1];
            var tries = {};
            // Score Variables
            var total_score = parseInt("{{round.score}}")
            var question_score = parseInt(total_score/parseInt("{{number_of_questions}}"))
            var score_area
            // Player Answers
            var player_answers = JSON.parse(document.getElementById('player-answers').textContent);
            // Global Variables
            var current_guess = 0
            var current_letter = 0
            var number_of_guesses = 6
            var current_word = resposta.toUpperCase()
            var number_of_characters = current_word.length
            var correct_letter = 0


            function isEmptyObject(obj){
                return JSON.stringify(obj) === '{}'
            }

            async function sendAnswer(player_answers) {
                url = "{% url 'play' question.0.number %}";
                data = {'player_answers': player_answers, 'round_id': '{{round.id}}', 'score': total_score};
                // Default options are marked with *
                const response = await fetch(url, {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    headers: {"X-Requested-With": "XMLHttpRequest", 
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'},
                    body: JSON.stringify(data) // body data type must match Content-Type header
                });
                window.location.assign(response.url);
                return response.json(); // parses JSON response into native JavaScript objects
            }

            // Init board
            function init(){
                // Pontuacao do user
                score_area = document.getElementById("player_score")
                
                // Enunciado aparecendo antes da questao
                enunciado = document.createElement("p")
                //enunciado.textContent = questions[0].tip
                enunciado.textContent = question.tip
                enunciado.style.textAlign = 'center'

                let play = document.getElementById("game")
                play.innerHTML = ""

                play.appendChild(enunciado)
                
                for(i = 0; i < number_of_guesses; i++){
                    let each_row = document.createElement("div")
                    each_row.classList.add("play-row")
                    for(j = 0; j < number_of_characters; j++){
                        let box_letter = document.createElement("div")
                        if(j == index_of_space){
                            box_letter.classList.add("play-box")
                            box_letter.style.border = 'black'
                        }else{
                            box_letter.classList.add("play-box")
                        }
                        
                        each_row.appendChild(box_letter)
                    }
                    play.appendChild(each_row)
                }
                // Showing keyboard 
                keyboard = document.getElementById('keyboard');
                keyboard.style.display = "flex";
            }

            function remake_game(tentativas){
                for(let i = 0; i < Object.keys(tentativas).length; i++){
                    let current_row = document.getElementsByClassName("play-row")[i];
                    let current_try = tentativas[i];
                    for(let j = 0; j < number_of_characters; j++){
                        if(j === index_of_space){
                            continue;
                        }
                        let box_letter = current_row.children[j];
                        let paragraph = document.createElement("p");
                        paragraph.textContent = current_try[j];
                        box_letter.appendChild(paragraph);
                        box_letter.classList.add("letter-input");
                    }
                    guess_check(true) //Realizando o guess check da tentativa anterior, com a flag true para remake game
                }
                current_guess = number_of_guesses;
            }
            
            window.onload = (event)=>{
                init();
                player_answers = JSON.parse(player_answers);
                if(!isEmptyObject(player_answers)){
                    remake_game(player_answers);
                }

                //remake_game({0: 'SEOAOIFKNM', 1: 'MFDKHNESKL', 2: 'JAVASCRIPT'});
            }
            
            function dict_answer(answer){
                dict_bool = {};
                dict_count = {}
                answer.split('').forEach(function(c) {
                    c = c.toUpperCase();
                    dict_bool[c]=true;
                    if(!dict_count[c]){
                        dict_count[c] = 0;
                    }
                    dict_count[c] += 1;
                });

                return [dict_bool, dict_count];
            }

            document.addEventListener("keyup", (e) => {
                let pressed_key = String(e.key)
                if(pressed_key == "Backspace"){
                    delete_letter()
                    return
                }

                if(pressed_key == "Enter"){
                    guess_check()
                    return
                }

                let match_key = pressed_key.match(/^[A-Za-z|-]$/)
                
                if(match_key > 1 || !match_key){
                    return
                }
                else{
                    insert_letter(pressed_key)
                }
            })

            function delete_letter(){
                if(current_letter === 0 || current_guess === number_of_guesses){
                    return;
                }
                let row = document.getElementsByClassName("play-row")[current_guess];
                let box = row.children[current_letter-1];
                box.textContent = "";
                box.classList.remove("letter-input");
                box.classList.add("play-box");
                current_letter = current_letter - 1;
            }
            
            // Remake é um boolean para identificar se a tentativa a ser checada é uma tentativa já gravada no banco
            function guess_check(remake = false){
                // Keyboard buttons
                let current_is_space = 0;
                let keyboard = document.getElementsByClassName("keyboard-key");
                
                if(current_letter < number_of_characters && remake === false){ //Todos os box preenchidos
                    return;
                }
                guess_word = "" //Palavra de tentativa
                for(i = 0; i < number_of_characters; i++){
                    current_is_space = 0;
                    let current_row = document.getElementsByClassName("play-row")[current_guess];
                    let box_letter = current_row.children[i];
                    let current_letter = box_letter.textContent;
                    
                    current_letter = current_letter.toUpperCase();
                    guess_word = guess_word + current_letter;
                    
                    for(let j = 0; j < keyboard.length; j++){
                        if(keyboard[j].textContent.toUpperCase() === current_letter){
                            var current_key = keyboard[j];
                            break;
                        }

                    }
                    if(i === index_of_space){
                        guess_word = guess_word + " ";
                        current_letter = " ";
                        current_is_space = 1;
                    }
                    if(current_letter === current_word[i]){ // Letra no local certo
                        if(!current_is_space){
                            box_letter.classList.add("correct-letter");
                            current_key.classList.remove("is-warning");
                            current_key.classList.add("is-success");
                        }
                        
                        if(letter_count[current_letter] > 0){
                            letter_count[current_letter] -= 1;
                        }
                        if(letter_bool[current_letter]){
                            letter_bool[current_letter] = false;
                        }
                        // current_key.classList.add("correct-key");
                        correct_letter = correct_letter + 1;
                    }
                    else if(current_word.indexOf(current_letter) != -1){ //Letra certa no local errado
                        if(letter_count[current_letter] > 0){
                            box_letter.classList.add("wrong-pos-letter");
                            current_key.classList.add("is-warning");
                        }
                        else{
                            box_letter.classList.add("wrong-letter");
                        }
                    }
                    else{ //Letra errada
                        box_letter.classList.add("wrong-letter");
                        current_key.classList.add("nes-btn");
                        current_key.classList.add("is-disabled");
                        current_key.disabled = true;
                    }
                }
                tries[current_guess] = guess_word;
                var correct_answer_hit = false

                if(remake === false){
                    if(correct_letter == number_of_characters){ // Correto
                    //console.log(tries)
                    current_guess = number_of_guesses
                    correct_answer_hit = true
                    sendAnswer(tries); // Envia as respostas para o servidor
                    }
                    else{
                        // Salvando as tentativas e atualizando Pontuacao
                        question_score = parseInt(question_score/2)
                        total_score = parseInt(total_score-question_score);
                        score_area.textContent = total_score;
                        current_guess = current_guess + 1;
                    }

                    if(current_guess >= number_of_guesses && !correct_answer_hit){ // Caso acabem as tentativas, envia para o server
                        sendAnswer(tries);
                    }
                    current_letter = 0
                    correct_letter = 0
                }
                else{
                    current_guess = current_guess + 1
                }
                
                
            }

            function insert_letter(pressed_key){
                if(current_letter >= number_of_characters || current_guess === number_of_guesses){ 
                    return
                }
                if(current_letter == index_of_space){
                    current_letter = current_letter + 1
                }
                let current_row = document.getElementsByClassName("play-row")[current_guess]
                let box_letter = current_row.children[current_letter]
                let paragraph = document.createElement("p")
                paragraph.textContent = pressed_key
                box_letter.appendChild(paragraph)
                box_letter.classList.add("letter-input")
                current_letter = current_letter + 1

            }

            
        </script>
    {% else %}
        <div class='register_block'>
            <div class="nes-container with-title is-centered is-dark">
                <p class='title'>Talvez você esteja pulando alguns passos querido jogador, ou um erro da nossa parte ocorreu.</p>
                <div class="nes-field">
                    <label>Por favor, indentifique-se antes de jogar</label>
                    <p></p>
                    <a class="nes-btn" href={% url 'register' %}>Pagina de registro</a>
                </div>
            </div>
        </div>
        
    {% endif %}    
    

    <script>

    </script>
{% endblock content %}

<!-- ESSE É O BLOCO À DIREITA, ONDE É MOSTRADA A PONTUAÇÃO DO PLAYER -->
{% block player_record %}
    {% if round %}
        <p class='text-right' >Questão atual: </p>
        <h2 id="current_question_text" class='text-right'>{{current_question}}</h2>
        <br>
        <p class='text-right'>Sua pontuação atual é: </p>
        <h2 id="player_score" class='text-right'>{{round.score}}</h2>
        <p class='text-right'><br>Toda vez que você erra a resposta, sua pontuação diminui, então tome cuidado! Evite chutes.</p>
        
        <button type="button" class='nes-btn' id="next-question-button">
            <img style="transform: rotate(180deg);" src="https://img.icons8.com/ios-filled/25/000000/chevron-left.png"/>
        </button>

        <script>
            current_question_text = document.getElementById("current_question_text");
            
            function replaceChar(origString, replaceChar, index){
                let firstPart = origString.slice(0, index);
                let lastPart = origString.slice(index + 1);
                let newString =
                    firstPart + replaceChar + lastPart;
                return newString;
            }

            // TRATAMENTO DO BOTAO QUE EXIBE A QUESTÃO ANTERIOR
            document.getElementById('previous-question-button').addEventListener('click', previousQuestion);
            async function previousQuestion(){
                nextQuestionNumber = parseInt(window.location.href.charAt(window.location.href.length - 2)) - 1;
                if(nextQuestionNumber < 1){
                    nextQuestionNumber = nextQuestionNumber + 1
                }  
                window.location.assign(replaceChar(window.location.href, nextQuestionNumber, -2));

            }

            // TRATAMENTO DO BOTAO QUE EXIBE A PROXIMA QUESTÃO
            document.getElementById('next-question-button').addEventListener('click', nextQuestion);
            async function nextQuestion(){
                nextQuestionNumber = parseInt(window.location.href.charAt(window.location.href.length - 2)) + 1;
                if(nextQuestionNumber > parseInt("{{number_of_questions}}")){
                    nextQuestionNumber = nextQuestionNumber - 1
                } 
                window.location.assign(replaceChar(window.location.href, nextQuestionNumber, -2));

            }
        </script>
    {% else %}
        <h3 class='text-right'>Pontuação não encontrada</h3>
        <p><br>Por favor <a href="{% url 'register' %}">registre-se</a> e volte mais tarde.</p>
    {% endif %}
{% endblock player_record %}
